$fail-colour: rgb(180, 0, 0);
$fail-hover-colour: rgb(130,0,0);
$success-colour: rgb(0,150,0);
$success-hover-colour: rgb(0, 100, 0);
$warning-colour: rgb(250,210,0);
$warning-hover-colour: rgb(210,180,0);
$box-width: 100px;
$box-height: 100px;
$font-size: 16px;
$text-colour: white;
$text-colour2: black;
$btn-width: 80px;
$btn-height: 30px;
$myfont: Fredoka